*{
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  background: url('https://slm-assets0.secondlife.com/assets/6285566/view_large/Fabric_White_PinkHeartsScatter_Z.jpg?1348082042') repeat center;
}
